*{
    margin: 0px;
    padding: 0px;
}
body{
    background-image: url("background.jpg");
    background-size: cover;
}
.title{
    text-align: center;
    font-size: 40px;
    font-family: 'Times New Roman', Times, serif;
    color: black;
}
.layout{
    height: 300px;
    width: 800px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
}
#stone,#paper,#scissor{
    height: 250px;
    width: 250px;
    border-radius: 50%;
    border: 2px solid black;
}
#stone{
    background-image: url("stone.jpeg");
    background-size: cover;
}
#paper{
    background-image: url("paper.jpg");
    background-size: cover;
}
#scissor{
    background-image: url("scissor.jpeg");
    background-size: cover;
}
.result{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4rem;
    margin-top: 40px;
    font-size: 36px;
}
.you,.comp{
    text-align: center;
}
.response{
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
    height: 100px;
    width: 800px;
    border: 2px solid black;
    background-color: rgba(240, 248, 255, 0.144);
    font-size: 36px;
    text-align: center;
    line-height: 100px;
}
.choice{
    cursor: pointer;
    user-select: none;
}